<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="social-bar">
			<a href="https://facebook.com/StJosephsRCHS"> <img src="https://raw.githubusercontent.com/mansoorbarri/joeys-rchs/main/images/icons8-facebook.svg"></a>
			<a href="https://www.instagram.com/joeys_rchs/"><i class="fa fa-instagram fa-xl" style="color: #ffffff;"></i></a>
			<a href="https://twitter.com/Joeys_rchs"><i class="fa fa-twitter fa-xl" style="color: #ffffff;"></i></a>
			<a href="https://twitter.com/Joeys_rchs"><i class="fa fa-twitter fa-xl" style="color: #ffffff;"></i></a>

		</div>
		  
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright}}St. Joseph’s Roman Catholic High School
		</div>
		{{ partial "footer_right.html" . }}
	</div>
</footer>
